/*Navigation and login bar*/
#navSearch {
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
}

#navSearch a {
    margin-left: 55%;
}
#searchbar {
    width: 30%;
}


/*Search filter options*/
#searchFilter {

    margin-right:auto;
}

#searchFilter p {
    display: inline-block;
    border:1px solid black;
    padding: 5px;
    margin:0;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
}


/*Movie Cards*/
.movieCard {
    border: 1px solid black;
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px grey;

}

.movieCard2 {
    margin-top: 2em;
}
.movies {
    margin-top: 50px;
    padding-top: 2em;
}



.hidden{
    display: none;
}

.button-class{
    background-color: gray;
    color: white;
}

.watch-list-delete {
    border:1px solid black;
    padding: 5px;
    margin:0;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
}
